/*
 * About
 * -----------------------------------------------
*/

/* -------- Opening Hourse ---------- */
.opening-hourse ul li {
    border-bottom: 1px solid @gray-lighter;
    padding: 10px 0;
    margin-bottom: 0 !important;
    span {
	    float: left;
	}
	.value {
	    float: right;
	}
}

/* bg img box */
.bg-img-box {
	position: relative;

	.caption {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 20px;
		position: absolute;
		top: 0;

		.title {
			font-size: 30px;
			line-height: 39px;
		}

		p {
			max-width: 280px;
		}
	}
}

	/* Doctors details*/
	.dl-horizontal dt {
		text-align: left;
	}